<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="matches content" style="gap: 2rem;">
    <h2 style="font-family: sans-serif;">Best Cricket Matches in the Last Decade</h2>

    <% matches.forEach(match => { %>
      <div class="Container">
        <style>
          .Container{
            border: 1px solid black;
            margin-top: 10px;
            border-radius: 10px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        </style>
        <h3 class="title" style="font-family: sans-serif;"><a href="<%= match.link %>" style="color: red;"><%= match.name %></a></h3>
        <p class="snippet"><%= match.description %></p>
      </div>
    <% }) %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

</html>